#mapid {
  height: 90vh;
}
/* body {
  background-color: #f2b632;
  color: #252839;
}
.btn {
  background-color: #252839;
  color: #f2b632;
  height: 8vh;
}

input.file {
  background-color: #252839;
  color: #f2b632;
}

#file-upload-button {
  background-color: #252839;
  color: #f2b632;
}

input#csvFile.btn {
  background-color: #252839;
  color: #f2b632;
}

.input-csv {
  height: 10vh;
} */
